html, body{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
}
.pagina {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: red;    
}
.menu{
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;

}
.main{
    display: flex;
    width: 85%;
    flex-flow: column;

}
.header{
    background-color: bisque;
    min-height: 150px;
}
.content{
    background-color: aliceblue;
    min-height: 300px;
    padding: 20px;
}
.footer{
    background-color: burlywood;
    min-height: 150px;
    text-align: center;
}
h1{
    text-align: center;
    color: blue;
}
.apresentacao{
    text-align: justify;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    margin: auto;
}
.row {
    margin: 5px;
}

label {
    display: inline-block;
    text-align: right;
    display: inline-block;
    width: 100px;
    padding-right: 5px;

}

fieldset{
    margin: 10px;
    border-radius: 10px;
    
}